* {
  font-family: 'Source Sans Pro';
  margin: 0;
  padding: 0;
}
button{
  cursor: pointer;
}
a{
  text-decoration: none;
}
li {
  list-style-type: none;
}
#root{
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  max-height: 1024px;
}
